{% extends 'masterpage.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Fantasy Skating - Brackets{% endblock %}

{% block content %}

<div class="panel">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        {% for event in events  %}
        <li {% if event.get_internal_path in request.path %}class="active"{% endif %} {% if next_event_name == event.name %}class="active"{% endif %} role="presentation" ><a href={{event.get_internal_path}}>{{event.short_name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="choice-form">
  <form method="post">
    {% csrf_token %}
        {% csrf_token %}
    {% for field in form  %}
      <div class="col-sm-4">
        <div class="multiple-choice-field">
          <div class="field-label">{{ field.label_tag }}</div><div class="field-option">{{ field }}</div>
        </div>
      </div>
    {% endfor %}
    <div class="text-center">
    <button class="btn btn-primary center" type="submit">Choose</button>
    </div>
  </form>
  </div>
</div>
{% endblock %}